<!DOCTYPE HTML>
<html>
    <head>
        <title>Post a new blog</title>
    </head>
    <body>
        <h1>Edit Your Blog Post</h1>
        <form method="post">
            <div name="user">
                {{user}}
            </div>

            <label>
                <div>Subject</div>
                <input name="subject" type="text" value="{{subject}}">
            </label>

            <label>
                <div>Content</div>
                <textarea name="content">{{content}}</textarea>
            </label>

            <div>
                <input type="submit">
            </div>

            <div>
                {{error}}
            </div>
        </form>
    </body>
</html>