<!DOCTYPE HTML>
<html>
    <head>
        <title>Post a new blog</title>
    </head>
    <body>
        <h1>Create A New Blog Post</h1>
        <form method="post">
            <label>
                <div>Subject</div>
                <input name="subject" type="text" value={{subject}}>
            </label>

            <label>
                <div>Content</div>
                <textarea name="content">{{content}}</textarea>
            </label>

            <div>{{error}}</div>

            <input type="submit">
        </form>
    </body>
</html>